# ------------------------------------------------------------------------------
# PATH: ~/.gitignore
# ------------------------------------------------------------------------------

# --- Terraform ---

.terraform/

# --- Operating System ---

# MacOS
.DS_Store
