# ------------------------------------------------------------------------------
# PATH: ~/.gitignore
# ------------------------------------------------------------------------------

# --- Environment Variables ---

*.tfvars
!example.tfvars

# --- Terraform ---

.terraform/

# --- Operating System ---

# MacOS
.DS_Store
