# ------------------------------------------------------------------------------
# PATH: ~/.gitignore
# ------------------------------------------------------------------------------

# --- Operating System ---

# MacOS
.DS_Store
